
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
  letter-spacing: 1px;
}

body {
    font-size: 1.0rem;
}

a {
  color: #e94e1b;
}

a:hover{
  color: #e94e1b;
}

.center-block {
  margin: 0 auto;
  display: block;
  width: 20px;
  height: 20px;
}




.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.vertical-form label{
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  font-weight: bold;
}

.vertical-form .el-form-item {
  margin-bottom: 12px;
}


/* Core */

.card-shadow {
  border: none;
  border-top: 6px solid #e94e1b;
  box-shadow: 0 2px 4px 0 rgba(48,56,97,.2);
}

.el-input input[type=number]::-webkit-inner-spin-button,
.el-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.toggler .active-icon, .toggler.active .inactive-icon {
  display: none;
}

.toggler.active .active-icon, .toggler .inactive-icon {
  display: inline-block;
}

.section-title {
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.section-title-small {
   margin-top: 20px;
   margin-bottom: 20px;
   font-size: 16px;
   font-weight: 500;
}

.inline-radio {
  margin-right: 12px;
}


/* Navbar */



.nav-search {
width: 450px;
}

 .section-search {
    display: none;
  }

/* Loading Button */

.btn.is-loading {
  color: transparent !important;
  pointer-events: none;
}

.btn.is-loading::after {
  position: absolute;
  left: calc(50% - (1em / 2));
  top: calc(50% - (1em / 2));
  position: absolute !important;
}

.btn.is-loading::after, .loader {
  -webkit-animation: spinAround 500ms infinite linear;
          animation: spinAround 500ms infinite linear;
  border: 2px solid #fff;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
}

/* Hero */

.hero {
   background-color: #fff;
  color: #000;
   padding-top: 60px;
    padding-bottom: 100px;
    margin-bottom: 0;
}


.hero .hero-heading {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 3px;
    margin-bottom: 17px;
    margin-top: 22px;
}

.hero .hero-desc {
  font-size: 16px;
  letter-spacing: 1px;
}

.hero .location-input {
    padding: 20px;
}

.locate-me {
    border: 1px solid #ced4da;
    border-left: none;
    background-color: #fff;
}


/* Process */

.process {
  background-color: #e94e1b;
  color: #fff;
}

.process .step img{
  width: 140px;
  height: 130px;
  margin: 0 auto;
  display: block;
}

.process .step h4 {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

.process .step p {
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  padding-bottom: 0;
  font-weight: normal;
  letter-spacing: 2px;
}

/* Featured Restaurants */

.featured {

}

.featured .title {
  font-size: 30px;
  color: #000;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.featured .featured-item {
  padding: 8px;

}

.featured .featured-item:hover {
  background-color: #ececec;
}

.featured .featured-item a{
  color: #000;
  text-decoration: none;
}

.featured .featured-item a:hover{
  color: #000;
  text-decoration: none;

}

.featured .featured-item .restaurant-name {
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 9px;
    margin-bottom: 3px;
    font-size: 21px;
}

.featured .featured-item .restaurant-area {
  margin-bottom: 0;
  font-size: 17px;
}

/* Add Restaurant */

.add-restaurant p {
  font-size: 22px;
  letter-spacing: 1px;
  width: 70%;
  margin-bottom: 0;
}

/* Search Bar */

.search-bar {
  height: 60px;
}

.search-bar button {
      width: 160px;
    font-size: 22px;
}

.search-bar input{
   font-size: 22px;
   padding: 20px;
   height: auto;
}

.search-bar input:focus{
  box-shadow: none;
  border-color: #e94e1b;
}


/* Restaurant offers */

.restaurant-offers {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #171a29;
}


/* Restaurant Card */


.restaurant-card {
    border-radius: 0;
    text-decoration: none;
    color: #000;
    border: none;
}


.restaurant-card:hover {
    color: #000;
    text-decoration: none;
}

.restaurant-card .card-body {
    padding-left: 0 !important;
}

.restaurant-card .card-title {
    font-weight: bold;
    margin-bottom: 3px !important;
}

.restaurant-card .card-text {
    color: #a8a8a8 !important;
    letter-spacing: 1px;
}

.restaurant-card .rating {
    font-size: 12px;
    padding: 4px;
}


.restaurant-card .info {
    font-size: 13px !important;
    color: #535665 !important;
}

.restaurant-card .offer {
   color: #b43b00;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 19px;
    background: rgba(248, 215, 0, 0.4);
    text-align: center;
    border: 1px solid #b43b00;
}

.restaurant-filters {
    border-radius: 0;
    position: sticky;
    top: 20px;
    box-shadow: 0 2px 4px 0 rgba(48,56,97,.2);
}

.restaurant-filters .list-group-item {
  border-radius: 0;
  font-size: 22px;
}

.restaurant-filters .list-group-item.active {
    background-color: #e94e1b;
    border-color: #e94e1b;
}


/* Restaurant Hero */
.restaurant-hero {
  background-color: #171a29;
  color: #fff !important;
  padding-top: 40px !important;
  padding-bottom: 30px !important;
  border-radius: 0;
}
.restaurant-hero p{
  margin-bottom: 4px;
  color: #ccc;
}

.restaurant-hero .details {
  margin-top: 15px;
}
.restaurant-hero .title {
  margin-bottom: 1px;
  font-weight: 700;
  letter-spacing: 2px;
}

.restaurant-hero .area {
  margin-bottom: 8px;
}

.restaurant-hero .info {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500 !important;
  letter-spacing: 1px;
}

.restaurant-hero .info .rating {
      color: gold;
}


.restaurant-hero .open-indicator {
padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
    border-radius: 0;
    font-weight: normal;
    letter-spacing: 1px;
    color: #ddd;
}

.restaurant-hero .open-indicator.badge-success {
    background-color: #35728a!important;
}

.restaurant-hero .offer {
  padding-left: 40px;
}

/* Featured Menuitem Card */

.item-card {
    border-radius: 0;
    text-decoration: none;
    color: #000;
    border: none;
}

.item-card .card-body {
    padding-left:  0 !important;
    padding-right: 0 !important;
}

.item-card .card-title {
    font-weight: bold;
    margin-bottom: 3px !important;
}

.item-card .card-text {
    color: #a8a8a8 !important;
    letter-spacing: 1px;
}

/* Menu Items */

.featured-items {
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
  margin-left: -34px;
}

.menu-item {
  margin-top: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #ccc;
  margin-left: -16px;
  margin-right: -16px;
}

.menu-item .name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
  letter-spacing: 1px;
}

.menu-item .price {
color: #383838 !important;
}

.menu-item .add-item {
      margin-top: -19px;
}

.menu-item s, .item-card s {
  color: red;
  margin-right: 8px;
}

/* Cuisine */

.cuisine {
  margin-left: -16px;
   margin-bottom: 15px;
  padding-bottom: 8px;
  border-bottom: 2px solid #ccc;
  display: inline-block;
}

.cuisine .name {
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 3px;
}

.cuisine .count {
  font-size: 14px !important;
  color: #a8a8a8 !important;
}

/* Restaurant Cusine Filters */

.items-search {
  border-bottom: 1px solid #ccc;
  padding-bottom: 25px;
}

.cuisine-filters {
    text-align: right;
    margin-right: 20px;
    border-right: 1px solid #ccc;
    height: 100vh;
position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 14px;
}

.cuisine-filters .nav-link{
  font-size: 20px;
    letter-spacing: 1px;
    color: #000 !important
}

.cuisine-filters .nav-link[data-toggle]:not(.collapsed) {
    font-weight: bold;
    border-right: 2px solid orange;
    color: orange !important;
}

.cuisine-filters .nav-link:hover {
  color: orange !important;
}

.cuisine-filters .nav-link.active {
  font-weight: bold;
}

/* Cart */

.cart {
  position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 14px;
}

.cart-title {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
}

.cart-empty-view p {
  color: #9a9a9a;
  font-size: 18px;
  margin-top: 8px;
}

.cart-items {
  border-radius: 0;
  max-height: 250px;
  overflow-y: auto;
  margin-bottom: 0 !important;
}

.cart-items .card-body {
  padding: 8px;
  padding-top: 18px;

}

.cart-items .item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0;
  margin-bottom: 12px;
}

.cart-items .item .name {
    font-weight: bold;
    font-size: 15px;
}

.checkout-btn {
  width: 100%;
  display: block;
  border-radius: 0;
  margin-top: 0;
}

 .number-input {
    width: 50px;
    text-align: center;

}

.cart-subtotal {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 1px;
}

.cart-subtotal-title {
  text-align: center;
  letter-spacing: 1px;
  font-size: 15px;
  padding-left: 7px;
}

.cart-subtotal-subtitle {
  text-align: center;
  letter-spacing: 1px;
  font-size: 15px;
  color: #a8a8a8 !important;
}

.cart-subtotal-warning {
  text-align: center;
  letter-spacing: 1px;
  font-size: 15px;
  color: #000 !important;
  font-weight: bold;
}


.custom-add-btn {
    display: block;
    margin-top: 20px !important;

    width: 100%;
}


/* Checkout Page */

.suggestions input, .suggestions input:focus {
  border-radius: 0;
  background-color: #f8f8f8;
  box-shadow: none;
}

.cart-bill {
  margin-top: 8px;
}

.cart-bill td {
  padding: 5px 0.75rem;
}

.cart-bill .amount {
  text-align: right;
}

.cart-bill .total  {
  font-weight: bold;
  border-top: 2px solid #000;
  margin-top: 24px;
  font-size: 16px;

}
.cart-bill .discount  {
  font-weight: bold;
  border-top: 2px solid #000;
  margin-top: 24px;
  font-size: 16px;
   padding-bottom: 13px;

}



.cart-bill .total td {
  padding: 10px 0.75rem;
}

.place-order-btn {
  width: 100%;
  display: block;
  margin-top: 20px !important;
  font-size: 18px !important;
}

.delivery-details h4 {
  letter-spacing: 1px;
  margin-bottom: 14px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 12px;
  width: 100%;
}


/* Order Status Progress Bar */

 .progressbar li {
        list-style-type: none;
        width: 20%;
        float: left;
        font-size: 7px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: #000;
        font-weight: bold;
    }


    .progressbar li:before {
    width: 35px;
    height: 35px;
    content: counter(step);
    counter-increment: step;
    line-height: 32px;
    border: 2px solid #8a8a8a;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    color: #8a8a8a;
    font-size: 17px;
    background-color: #fff;
    z-index: 1000;
}


.progressbar li:after {
    width: 100%;
    height: 3px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 18px;
    left: -40%;
    z-index: 1000;
}



.progressbar {
      counter-reset: step;
  }

   .progressbar li:after {
          width: 100%;
    height: 3px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 27px;
    left: -40%;
    z-index: -1;
  }

  .progressbar li:first-child:after {
      content: none;
  }

  .progressbar li.active + li:after {
      background-color: #55b776;
  }


  .progressbar li {
      list-style-type: none;
      width: 20%;
      float: left;
      font-size: 15px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #000;
      font-weight: bold;
  }
  .progressbar li:before {
      width: 60px;
    height: 60px;
    content: counter(step);
    counter-increment: step;
    line-height: 56px;
    border: 2px solid #8a8a8a;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    color: #8a8a8a;
    font-size: 27px;
    background-color: #fff;
    z-index: 1000;
  }



  .progressbar li.active {
      color: green;
  }

  .progressbar li.active:before {
      border-color: #55b776;
      color: #fff;
      background-color: #55b776;
  }


  /* Account */

  .foodoor-cash-card {
    font-weight: 400;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 23px;
  }


  .coupons-button .btn {
    display: block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .coupons-list .list-group-item{
    border-right: none;
    border-left: none;
    border-top: none;
        margin-bottom: 0px;
        border-bottom: 1px dashed #2b2b2b;
}

.coupons-list .list-group-item .coupon-code {
    background: #fffae6;
    border: 1px solid #daceb7;
    padding: 3px;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 500;
    padding-left: 5px;
    padding-right: 5px;
}



/* LOGO */


.logo {
  width: 35px;
  margin-right: 20px;
}

.logo-wordmark {
  width: 139px;
}

/* Theme */

.modal-title {
  font-weight: bold;
    letter-spacing: 1px;
}

.btn, .card, .form-control, .jumbotron, .el-button, .modal-content {
  border-radius: 0 !important;
}

.btn-primary {
  background-color: #e94e1b !important;
  border-color: #e94e1b
}

.btn-primary:hover {
   border-color: #e94e1b !important;
}

.bg-primary {
  background-color: #e94e1b !important;
}

.bg-alternate {
  background-color: #171a29;
}

/* Navigation */

.top-nav .nav-item {
    margin-right: 30px !important;
}

.top-nav .nav-item a {
    font-size: 19px !important;
    color: #171a29 !important;
}

.top-nav .nav-item a i{
  margin-right: 5px;
}

.top-nav .navbar-nav {
  margin-top: 4px !important;
}

/* Login Modal */

.login-btns .el-form-item__content{
  display: flex;
  width: 100%;
  justify-content: stretch;
  align-items: center;
}

.login-btns .el-form-item__content .el-button {
  flex: 1;
}

.el-form-item__label {
  font-size: 17px !important;
    color: #000 !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
    color: #171a29 !important;
}

.el-button--primary {
    color: #fff;
    background-color: #fd3d00 !important;
    border-color: #fd3d00 !important;
}

.el-input__inner, input.form-control {
  height: 60px !important;
  font-size: 18px !important;
  border-radius: 0 !important;
}

.el-form-item.is-required>.el-form-item__label:after {
    content: '*';
    color: #f56c6c;
    margin-left: 6px;
}

.el-form-item.is-required>.el-form-item__label:before {
    content: none !important;
}




/* Footer */

footer p, footer, footer span {
    font-weight: 300;
    color: #9c9da5;
}

footer .top-footer h5 {
  color: #fff !important;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

footer .top-footer ul {
  list-style: none;
  padding-left: 0;
}

footer .top-footer li {
  padding: 9px 0;
}

footer .top-footer a {
  text-decoration: none;
  color: #fff;
}

.delivery-details .location-marker {
  display: block !important;
  margin: 8px;
  margin-right: 14px;
  position: relative;
}

.delivery-details .location-marker.dashed:after{
    content: "";
    position: absolute;
    z-index: 100000;
    border: 1px dashed #444;
    top: -193%;
    left: 36.3%;
    height: 80px;
    /* bottom: 10px; */
}

.delivery-details .order-status-desc{
  display: flex;
  margin-top: 12px;
  border-top: 1px solid #ececec;
  padding-top: 12px;
  font-size: 15px;
  font-weight: normal !important;
  color: #6c757d !important;
}

.delivery-details .order-status-desc i{
  margin: 8px;
  margin-top: 4px;
}

.order-id small{
    display: block;
    margin-top: 7px;
}



/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (max-width: 62em) {

  body.modal-open {
    overflow: hidden;
}
 .account-sidebar-menu {
  display: none;
 }
  .my-res-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .my-res-1 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }

  .modal-dialog {
        position: fixed;
    width: 100%;
    margin: 0;
    bottom: 0;
    z-index: 10000;
  }

  .logo {
    display:none !important;
  }

  .logo-responsive {
    width: 121px;
    display: block !important;
  }

  .nav-search {
    display: none;
  }
  .restaurant-offers {
    background-color: #fff;
    margin-left: -14px;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .section-search {
    display: block;
    margin-top: -6px;
    padding: 8px;
        background-color: #fff;

    webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }

  .section-search .locate-me{
    width: 100%;
    margin-top: 8px;
    border-left: 1px solid #ced4da;
    display: block;

  }

  .head-search {
     margin-top: 10px;
  }

   .head-search .input-group-append {
      margin-top: 0px;
      width: auto;

  }

   .restaurant-card {
    flex-direction: row;
    border-bottom: 1px solid #ececec;
    padding-bottom: 20px;
   }


 .restaurant-card .card-img-top {
  width: 80px;
  height: 80px !important;
 }

 .restaurant-card .card-body {
  margin-left: 10px;
  margin-top: 0;
  padding: 0;
    padding-top: 2px;
 }

 .restaurant-card .card-text {
  margin-bottom: 8px;
 }

.order-restaurant-img {
  display: none;
}

.modal-dialog{
  max-height: 80%;
}
 .modal-body {
  overflow-y: scroll !important;
  max-height: calc(100vh - 200px) !important;
 }

 .show-filters, .show-cart, .confirm-order {
  display: block !important;
      width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 49px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
 }

 .confirm-order {
  left: 0;
  right: 0;
 }

.confirm-order.is-loading {
  position: fixed !important;
}

.show-cart {
  display: flex !important;
  justify-content: space-between;
  font-size: 16px;
 }

 #filterRestaurantsModal .restaurant-filters {
  box-shadow: none;
 }

 #filterRestaurantsModal .modal-body, #cartModal .modal-body {
  padding: 0 !important;
 }

.cart-col {
  display: none;
}

.cart-order {
  margin-top: 25px !important;
}



.download-invoice {
  float: none !important;
    display: block;
    margin-bottom: 21px;
}

.user-tab {
  display: block !important;
}

.user-dropdown {
  display: none !important;
}

 .restaurant-hero .info {
  width: 100% !important;
 }

.top-nav {
  margin-left: -15px;
  margin-right: -15px;
}

 .navbar-nav {
      flex-direction: row;
    text-align: center;
    padding: 0 10px;
 }

 .top-nav .nav-item {
    margin-right: 0px !important;
    padding: 10px !important;
}

.cuisine {
    margin-left: 5px;
}

.search-filters {
  display: none;
}

.search-form {
  width: 100% !important;
}

.cuisine-filters-col {
  display: none;
}

.featured-items {
    margin-left: -20px !important;
}

.menu-item {
    margin-left: auto !important;
    margin-right: auto !important;
}

.restaurant-hero {
  display: none;
}

.restaurant-hero-resp {
  display: block !important;
  margin-top: 18px;
  margin-bottom: 18px;
  border-bottom: 1px solid #ececec;
}

.address {
  margin-bottom: 15px;
      height: 249px !important;
}

.phone-input-box {
  width: 100% !important;
}

.phone-input-box .d-flex {
  display: block !important;
}

.phone-input-box .d-flex .el-button {
  width: 100%;
  display: block;
  margin-top: 10px;
  margin-left: 0 !important;
}

.login-container {
  width: 100% !important;
}

.address-col {
  display: none !important;
}

.address-carousel {
  display: block !important;
}

.address-carousel .carousel-cell {
  width: 100% !important;
}

.py-res-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}



.card-shadow {
  box-shadow: none;
  border-top: none;
  margin-top: 0;
   margin-left: -15px;
  margin-right: -15px;
}

.checkout .cart-items {
  display: none;
}

.checkout .place-order-section{
  display: none;
}

.checkout .view-cart {
  display: block !important;
}

.order-id {
  font-size: 17px !important;
  float: none !important;
}

.order-id small{
    display: block;
    margin-top: 7px;
}

.progressbar {
  display: none !important;
}

.restaurant-details h4, .customer-details h4 {
  display: none;
}

.customer-details .address-box {
  font-size: 16px !important;
}

.delivery-details {
  margin-left: -8px;
  margin-right: -8px;
}

.restaurant-details img{
  display: none;
}

.restaurant-details .ml-2 {
  margin-left: 0 !important;
}

.restaurant-details {
  border-top: 1px solid #ececec;
  margin-top: -3px !important;

}

.customer-details {
      margin-top: -22px !important;
}

.restaurant-details .restaurant-name, .customer-details .customer-name {
  font-weight: bold;
  font-size: 16px;
}

.restaurant-details .restaurant-area{
  font-size: 14px;
}

.delivery-details .location-marker {
  display: block !important;
  margin: 8px;
  margin-right: 14px;
  position: relative;
}

.delivery-details .location-marker.dashed:after{
    content: "";
    position: absolute;
    z-index: 100000;
    border: 1px dashed #444;
    top: -123%;
    left: 36.3%;
    height: 45px;
    /* bottom: 10px; */
}

.delivery-details .order-status-desc{
  display: flex;
  margin-top: 12px;
  border-top: 1px solid #ececec;
  padding-top: 12px;
  font-size: 15px;
  font-weight: normal !important;
  color: #6c757d !important;
}

.delivery-details .order-status-desc i{
  margin: 8px;
  margin-top: 4px;
}


.cuisine-filters {
    text-align: left;
    margin-right: 20px;
    border-right: none;
    min-height: 200px;
}

.cuisine-filters .nav-link{
  font-size: 20px;
    letter-spacing: 1px;
    color: #000 !important
}

.cuisine-filters .nav-link[data-toggle]:not(.collapsed) {
    font-weight: bold;
    border-right: none;
    border-left: 2px solid orange;
    color: black !important;
}

.cuisine-filters .nav-link:hover {
  color: orange !important;
}

.cuisine-filters .nav-link.active {
  font-weight: bold;
}

.cuisine-filters .nav-link i {
  display: none;
}

.cuisine-filters .nav-link:hover i{
  display: inline-block !important;
}

.items-filter {
  display: block !important;
    /* width: 100%; */
    position: fixed;
    bottom: 65px;
    left: 26.8%;
    /* right: 0; */
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 3px;
}


.search-bar .input-group-prepend{
 display: none;
}

.search-bar input {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 15px;
}

.search-bar .input-group-append button {
  width: 100% !important;
}

}


input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.company-features-section{
    min-height: 90vh;
}
.company-content-features h3{
    font-weight: 600;
    margin-bottom: 30px;
}
.comapny-contact-features h3{
    font-weight: 600;
    margin-bottom: 30px;
    text-align: left;
    color: #e94e1b;
}
.contact-form-custom{
    background: #f7f7f7;
    border-radius: 0;
}
.contact-form-custom .card-body{
    padding: 16px;
}
.contact-form-custom button{
    display: block;
    width: 100%;
}
.company-privacy-features h3{
    font-weight: 600;
    margin-bottom: 30px;
}
.company-privacy-features ul{
    list-style-type: disc;
    margin-left: 50px;
}
.company-team-features h3{
    font-weight: 600;
    margin-bottom: 30px;
}
.company-team-features h5{
    margin-top: 7px;
    margin-bottom: 3px;
}
.comapny-team-custom{
    margin-top: 17px;
}
.comapny-team-custom h5{
    margin-top: 7px;
    margin-bottom: 3px;
}
.company-terms-features h3{
    font-weight: 600;
    margin-bottom: 30px;
}
.company-terms-features ul{
    list-style-type: disc;
    margin-left: 50px;
}
.fixed-card-height{
    min-height: 90vh;
}
.account-profile-user h4{
    font-weight: 600;
    margin-bottom: 20px;
}
.account-user-offer .list-group .coupons-list{
    overflow-y: auto;
    max-height: 400px;
}
.user-order-account img{
    width: 124px;
    height: 94px;
    float: left;
}
.user-order-account h5{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1px;
}
.user-order-account p .restaurant-area{
    font-size: 15px;
    color: #686b78;
    margin-bottom: 1px;
}
.user-order-account p .restaurant-created{
    font-size: 15px;
    color: #686b78;
    margin-bottom: 3px;
}
.user-order-account p .restaurant-deatails{
    font-weight: bold;
}