/* ------------------------------------------ */
/* ------- Backpack Stack Overlay ------------ */
/* ------------------------------------------ */
/*  This file brings some subjective improvements to the AdminLTE style, to match the style provided by the Stack HTML Template. */

.sidebar-menu>li>a>.fa,
.sidebar-menu>li>a>.glyphicon,
.sidebar-menu>li>a>.ion {
    margin-right: 5px;
}

body[class^='skin-'] .sidebar-menu>li>a {
    border-left: 2px solid transparent;
}

.skin-purple .sidebar-menu>li.header {
    padding-top: 5px;
    padding-bottom: 5px;
}

.content-header {
    padding: 35px 15px 0px 15px;
}
.content-header>h1 {
    font-size: 32px;
    font-weight: 200;
}
.content-header>.breadcrumb {
    top: 5px;
}
.user-panel {
    padding: 20px 10px 20px 10px;
}

.btn {
    font-weight: 300;
    font-size: 13px;
}

.btn-group-xs>.btn, .btn-xs {
    font-size: 11px;
    font-weight: 300;
}

body {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.logo-lg b {
    font-weight: 400;
}

.main-footer {
    border: none;
    background: #ebebeb;
}

.content-wrapper, .right-side {
    background: #ebebeb;
}

.box {
    border: none;
    margin-bottom: none;
}

.pagination>li>a, .pagination>li>span {
    border: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

.sidebar-menu .treeview-menu>li>a {
    font-size: 13px;
}