@media(max-width: 768px){
	.hero {
    padding-top: 20px;
    padding-bottom: 30px;
	}
	.hero .hero-heading {
    font-size: 26px;
    letter-spacing: 3px;
	}
	.step{
		padding: 20px 0;
	}
	.restaurants-flex{
		display: block !important;
	}
	.add-restaurant p {
    font-size: 20px;
    width: 100%;
    padding-bottom: 13px;
	}
	.join-restaurants-feature{
	margin-bottom: 45px;
	}
	.hero .location-input {
    width: 100%;
	}
	.hero .input-group-append {
     margin-top: 10px; 
     width: 100%; 
	}
	.hero button.location-resturant{
	border-left: 1px solid #ccc;
    font-size: 18px;
	}
	.location-resturant-button{
	font-size: 17px;
	}
	.card-shadow {
    margin-top: 20px;
    margin-bottom: 40px;
	}
}