<template>
    <div >
         <el-alert
        v-if="error"
        title="Please try again!"
        description="There was some problem adding your address! Please try again."
        type="error"
        class="mb-2"
        show-icon>
      </el-alert>
        <el-form class="vertical-form" :rules="rules" ref="form" label-position="top" label-width="100px" :model="form">

           <div id="us3" style="width: 100%; height: 240px;"></div>
            <input type="text" style="border-radius: 0;
             background: #fff;
            margin-bottom: 20px;"  class="form-control" name="location" id="location" >
           <input type="hidden" name="latitude" id="latitude" v-model="form.latitude">
           <input type="hidden" name="longitude" id="longitude" v-model="form.longitude">

          <div class="row">
           <div class="col-md-6">
             <el-form-item label="Door No./Flat No." prop="door_no">
              <el-input autocomplete="off" v-model="form.door_no"></el-input>
            </el-form-item>
          </div>
           <div class="col-md-6">
              <el-form-item label="Road Name" prop="road_name">
                <el-input autocomplete="off" v-model="form.road_name"></el-input>
              </el-form-item>
            </div>
          </div>


             <el-form-item label="Landmark" prop="landmark">
              <el-input autocomplete="off" v-model="form.landmark"></el-input>
            </el-form-item>

            <el-form-item label="Address Type" prop="type">
                <el-radio-group v-model="form.type" size="small">
                  <el-radio-button label="0">Home</el-radio-button>
                  <el-radio-button label="1">Office</el-radio-button>
                  <el-radio-button label="2">Other</el-radio-button>
                </el-radio-group>
            </el-form-item>




          <el-form-item class="mt-4">
            <el-button type="primary" :loading="submitting" @click="save()">Save Address</el-button>
           </el-form-item>
        </el-form>
    </div>

</template>

<script>
    export default {
        props: ['lat', 'lng'],
        data() {
            return {
                form: {
                    location: '',
                    latitude: '',
                    longitude: '',
                    door_no: '',
                    road_name: '',
                    landmark: '',
                    type: '',
                },
                rules: {
                  type: [
                    { required: true, message: 'Type is required', trigger: 'blur' },
                  ],

                },
                submitting: false,
                error: false,
            }
        },

        mounted() {
            var self = this;
            console.log('Component mounted.')
             $('#us3').locationpicker({
                location: {
                    latitude: this.lat ? this.lat : 23.344036 ,
                    longitude:  this.lng ? this.lng : 85.301583
                },
                radius: 0,
                addressFormat: 'street_address',
                inputBinding: {
                    latitudeInput: $('#latitude'),
                    longitudeInput: $('#longitude'),
                    locationNameInput: $('#location')
                },
                enableAutocomplete: true,
                onchanged: function (currentLocation, radius, isMarkerDropped) {
                    self.form.location = $('#location').val();
                    // Uncomment line below to show alert on each Location Changed event
                    //alert("Location changed. New location (" + currentLocation.latitude + ", " + currentLocation.longitude + ")");
                }
            });

            self.form.latitude = this.lat ? this.lat : 23.344036;
            self.form.longitude =  this.lng ? this.lng : 85.301583
        },

        created(){


        },

        methods: {
            save(){

                var self = this;
                 self.form.location = $('#location').val();
                 self.form.latitude = $('#latitude').val();
                 self.form.longitude = $('#longitude').val();
                 self.submitting = true;
                this.$refs['form'].validate((valid) => {
                  if (valid) {

                    axios.post('/addresses', self.form)
                     .then(function(response){
                        self.submitting = false;
                        location.reload();
                     }).catch(function(error) {
                        self.submitting = false;
                        self.error = true;
                     });
                  } else {
                    self.submitting = false;
                    console.log('error submit!!');
                    return false;
                  }
                });

            }
        }
    }
</script>
