<template>
 <div>
    <el-alert
    v-if="error"
    class="mb-2"
    :title="errorMessage"
    show-icon
    type="error">
</el-alert>
    <el-alert
    v-if="success"
    class="mb-2"
    :title="successMessage"
    show-icon
    type="success">
  </el-alert>
    <div class="d-flex" >
     <el-input
         placeholder="Coupon Code"
         suffix-icon="el-icon-tag"
         v-model="code"
         >
     </el-input>

     <el-button class="ml-3" @click="applyCoupon(code)" type="success" :loading="applying">Apply Coupon</el-button>

   </div>

    <div class="list-group coupons-list mt-4 mb-5" style="max-height: 400px;
    overflow-y: auto;">
        <div v-if="loggedIn" class="list-group-item list-group-item-action">
       <div>
        <span class="coupon-code">POTS CASH</span>
        </div>
        <div>
          <p>Pay 10% of your amount from pots cash</p>
        </div>
        <el-button type="warning" @click="applyFoodoorCash()">Use Pots Cash</el-button>
      </div>

             <div v-for="coupon in coupons" class="list-group-item list-group-item-action">
               <div>
                <span class="coupon-code">{{ coupon.code }}</span>
                </div>
                <div>
                  <p>{{ coupon.promo_text }}</p>
                </div>
                <el-button type="success" @click="applyCoupon(coupon.code)">Use Coupon</el-button>
              </div>

   </div>
 </div>
</template>

<script>
    export default {
        props: ['restaurant'],
        data() {
            return {
                coupons: {},
                code: '',
                applying: false,
                error: false,
                success: '',
                errorMessage: '',
                successMessage: '',
                loggedIn: false,

            }
        },
        mounted() {
            console.log('Component mounted.')
        },

        created(){
            this.fetchCoupons();
            this.loggedIn = window.App.signedIn;
        },

        methods: {
            fetchCoupons() {
                var self = this;
                axios.get('/coupons')
                     .then(function(response){
                        self.coupons = response.data.coupons;
                     })
                     .catch(function(error){

                     });
            },

            applyCoupon(code) {
                var self = this;
                axios.post('/coupons/apply', {code: code, restaurant: self.restaurant})
                     .then(function(response){
                        //self.success = true;
                        //self.successMessage = response.data.message;
                        self.$emit('selected', 1);
                        $('#couponsModal').modal('toggle');
                        $toastr.success('Coupon was applied successfully!');
                     })
                     .catch(function(error){
                        self.error = true;
                        self.errorMessage = error.response.data.message;
                     });
            },

            applyFoodoorCash() {
                var self = this;
                axios.post('/coupons/apply/foodoor')
                     .then(function(response){
                        self.success = true;
                        self.successMessage = response.data.message;
                        self.$emit('selected', 1);
                        $('#couponsModal').modal('toggle');
                     })
                     .catch(function(error){
                        self.error = true;
                        self.errorMessage = error.response.data.message;
                     });
            }
        }
    }
</script>
