<template>
    <div>
          <div v-if="sizes != null" class="mb-4">
              <h5 style="font-weight: bold;margin-bottom: 18px;">Choose Size/Category</h5>
               <span v-for="(size, index) in sizes">
                    <el-radio class="inline-radio" v-model="selectedSize" :label="index">{{ size.name }} (₹ {{size.price - currentItem.discount_price}})</el-radio>
                </span>
               <!-- -->
         </div>
          <div v-if="additions != null">
             <div v-for="addition in additions" class="mb-4">
                  <h5 style="font-weight: bold;margin-bottom: 18px;">{{ addition.name }}</h5>
                   <div v-if="addition.select_type == 0">
                       <span v-for="(option, index) in addition.options">
                            <el-radio class="inline-radio"  v-model="choices[slugify(addition.name)]" :label="index">{{ option.name }} (₹ {{option.price}})</el-radio>
                        </span>
                   </div>
                    <div v-else>

                                 <el-checkbox-group v-model="customs">
                                 <span v-for="(option, index) in addition.options">
                                <el-checkbox :name="slugify(option.name)" @change="choiceChecked(slugify(addition.name), slugify(option.name), option.price)"  class="inline-radio" :label="index">{{option.name}} (₹ {{option.price}})</el-checkbox>
                                </span>
                                 </el-checkbox-group>




                    </div>

              </div>
           </div>

               <el-button @click="addToCart"  class="custom-add-btn" :loading="submitting" type="success">Add To Cart ( ₹ {{ totalPrice }} )</el-button>



    </div>

</template>

<script>
    export default {
        props: ['item', 'size', 'userChoices', 'userToppings', 'userExtraPrice'],
        data() {
            return {
                currentItem: {},
                sizes: [],
                additions: [],
                selectedSize: '',
                submitting: false,
                choices: {},
                customs: [],
                toppings: {},
                extraPrice: 0,
            }
        },

        created() {
           console.log( this.item);
           this.currentItem = this.item;
           this.sizes = this.currentItem.sizes;
           this.additions = this.currentItem.additions;
           if(this.sizes != null)
           {
                this.selectedSize = this.size ;
           }

           if(this.additions != null)
           {
                this.choices = this.userChoices;
                this.toppings = this.userToppings;
           }




        },

        mounted() {
            console.log('Component mounted.')
        },

        methods: {
            addToCart()
            {
                var self = this;

                self.submitting = true;

                axios.post('/cart/custom/add', {item: this.currentItem.id, price: this.totalPrice, size: this.selectedSize, choices: this.choices, toppings: this.toppings})
                .then(function(response){
                    var items = response.data.items;
                    var added = response.data.added;

                    self.submitting = false;
                    $toastr.success('Item added to cart!');
                }).catch(function(error){
                    $toastr.error('Error adding your item!');
                });
            },

            choiceChecked(topping, option, price)
            {
                  var val = $('input[name="' + option + '"]').val();
                    console.log(val);
                  if(this.toppings[topping] == null)
                  {
                     this.toppings[topping] = [];
                     this.toppings[topping].push(val);
                      this.extraPrice += parseFloat(price);
                  } else {
                     if(this.toppings[topping].includes(val))
                     {
                        var pos = this.toppings[topping].indexOf(val);
                        this.toppings[topping].splice(pos);
                        this.extraPrice -= parseFloat(price);
                     } else {
                        this.toppings[topping].push(val);
                        this.extraPrice += parseFloat(price);
                     }

                  }
            },


            slugify(text)
            {
              return text.toString().toLowerCase()
                .replace(/\s+/g, '-')           // Replace spaces with -
                .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
                .replace(/\-\-+/g, '-')         // Replace multiple - with single -
                .replace(/^-+/, '')             // Trim - from start of text
                .replace(/-+$/, '');            // Trim - from end of text
            }
        },

        computed: {
            totalPrice: function() {
                var price = this.currentItem.special_price;
                if(this.sizes != null)
                {
                    if(this.currentItem.discount_price != null)
                    {
                        price = parseInt(this.sizes[this.selectedSize].price) - parseInt(this.currentItem.discount_price);
                    } else {
                        price = parseInt(this.sizes[this.selectedSize].price)
                    }
                } else {
                    price = this.currentItem.special_price;
                }

                if(this.choices != null) {
                    for (var i = 0; i < this.additions.length; i++) {
                        var addition = this.additions[i];
                        if(addition.select_type == 0)
                        {
                            if(this.choices[this.slugify(addition.name)] != null)
                            {
                                price += parseInt(addition.options[this.choices[this.slugify(addition.name)]].price);
                            }
                        }

                    }
                }

                return price + parseFloat(this.extraPrice);


            }
        }
    }
</script>
