<template>
    <div >
         <el-alert
        v-if="error"
        title="Please try again!"
        description="There was some problem updating your address! Please try again."
        type="error"
        class="mb-2"
        show-icon>
      </el-alert>
        <el-form class="vertical-form" :rules="rules" :ref="'form-'+ address.id" label-position="top" label-width="100px" :model="form">

           <div :id="'us3-'+address.id" style="width: 100%; height: 240px;"></div>
            <input type="text" style="border-radius: 0;
             background: #fff;
            margin-bottom: 20px;" class="form-control" name="location" :id="'location-' + this.address.id" >
           <input type="hidden" name="latitude" :id="'latitude-' + this.address.id" v-model="form.latitude">
           <input type="hidden" name="longitude" :id="'longitude-' + this.address.id" v-model="form.longitude">

          <div class="row">
           <div class="col-md-6">
             <el-form-item label="Door No./Flat No." prop="door_no">
              <el-input autocomplete="off" v-model="form.door_no"></el-input>
            </el-form-item>
          </div>
           <div class="col-md-6">
              <el-form-item label="Road Name" prop="road_name">
                <el-input autocomplete="off" v-model="form.road_name"></el-input>
              </el-form-item>
            </div>
          </div>


             <el-form-item label="Landmark" prop="landmark">
              <el-input autocomplete="off" v-model="form.landmark"></el-input>
            </el-form-item>

            <el-form-item label="Address Type" prop="type">
                <el-radio-group v-model="form.type" size="small">
                  <el-radio-button label="0">Home</el-radio-button>
                  <el-radio-button label="1">Office</el-radio-button>
                  <el-radio-button label="2">Other</el-radio-button>
                </el-radio-group>
            </el-form-item>




          <el-form-item class="mt-4">
            <el-button type="primary" :loading="submitting" @click="save()">Update Address</el-button>
           </el-form-item>
        </el-form>
    </div>

</template>

<script>
    export default {
        props: ['address'],
        data() {
            return {
                form: {
                    location: '',
                    latitude: '',
                    longitude: '',
                    door_no: '',
                    road_name: '',
                    landmark: '',
                    type: '',
                },
                rules: {
                  type: [
                    { required: true, message: 'Type is required', trigger: 'blur' },
                  ],

                },
                submitting: false,
                error: false,
            }
        },

        mounted() {
            var self = this;
            console.log('Component mounted.')
             $('#us3-' + this.address.id).locationpicker({
                location: {
                    latitude: this.address.latitude ? this.address.latitude : 23.344036 ,
                    longitude:  this.address.longitude ? this.address.longitude : 85.301583
                },
                radius: 0,
                addressFormat: 'street_address',
                inputBinding: {
                    latitudeInput: $('#latitude-' + this.address.id),
                    longitudeInput: $('#longitude-' + this.address.id),
                    locationNameInput: $('#location-' + this.address.id)
                },
                enableAutocomplete: true,
                onchanged: function (currentLocation, radius, isMarkerDropped) {
                    self.form.location = $('#location-' + self.address.id).val();
                    // Uncomment line below to show alert on each Location Changed event
                    //alert("Location changed. New location (" + currentLocation.latitude + ", " + currentLocation.longitude + ")");
                }
            });

        },

        created(){
                 this.form.location =  this.address.location;
                 this.form.latitude =  this.address.latitude;
                 this.form.longitude =  this.address.longitude;
                 this.form.door_no =  this.address.door_no;
                 this.form.road_name =  this.address.road_name;
                 this.form.landmark =  this.address.landmark;
                 this.form.type =  this.address.type;
        },

        methods: {
            save(){

                var self = this;
                 self.form.location = $('#location-' + self.address.id).val();
                 self.form.latitude = $('#latitude-' + self.address.id).val();
                 self.form.longitude = $('#longitude-' + self.address.id).val();
                 self.submitting = true;


                this.$refs['form-' + self.address.id].validate((valid) => {
                  if (valid) {
                    console.log('form-' + self.address.id);
                   axios.post('/addresses/' + self.address.id + '/update', self.form)
                     .then(function(response){
                        self.submitting = false;
                        location.reload();
                     }).catch(function(error) {
                        self.submitting = false;
                        self.error = true;
                     });
                  } else {
                    self.submitting = false;
                    console.log('error submit!!');
                    return false;
                  }
                });

            }
        }
    }
</script>
