<template>
  <div>
    <div v-if="newAccount">
        <el-alert
        v-if="registerError"
        title="Registration Failed!"
        description="Your account already exists! Please try logging in"
        type="error"
        class="mb-2"
        show-icon>
      </el-alert>

      <el-alert
    v-if="otpError"
    class="mb-2"
    :title="otpErrorMessage"
    show-icon
    type="error">
  </el-alert>

        <div v-if="otpSent">
          <el-input
             placeholder="Enter OTP"
             type="number"
             :maxlength="5"
             suffix-icon="el-icon-phone"
             v-model="userotp">
          </el-input>

          <el-button class="my-3" @click="storeUser" type="warning" :loading="submitting">Verify OTP</el-button>
           <el-button class="my-3 ml-3" @click="sendOTP" type="success" :loading="sendingOTP">Resend OTP</el-button>
       </div>

        <el-form class="vertical-form" v-else status-icon :rules="registerRules" ref="registerForm" label-position="top" label-width="100px" :model="registerForm">
          <div class="row">
           <div class="col-md-6">
             <el-form-item label="First Name" prop="first_name">
              <el-input autocomplete="off" v-model="registerForm.first_name"></el-input>
            </el-form-item>
          </div>
           <div class="col-md-6">
              <el-form-item label="Last Name" prop="last_name">
                <el-input autocomplete="off" v-model="registerForm.last_name"></el-input>
              </el-form-item>
            </div>
          </div>
           <el-form-item label="Email Address (optional)" prop="email">
            <el-input autocomplete="off" v-model="registerForm.email"></el-input>
          </el-form-item>
          <el-form-item label="Mobile Number" prop="phone">
            <el-input type="number" autocomplete="off" v-model="registerForm.phone"></el-input>
          </el-form-item>
          <el-form-item label="Password" prop="password">
            <el-input type="password" v-model="registerForm.password"></el-input>
          </el-form-item>
          <el-form-item class="login-btns mt-4">
            <el-button type="primary" :loading="submitting" @click="registerUser()">Register</el-button>
            <el-button @click="toggleForm()">Log In</el-button>
           </el-form-item>
        </el-form>


    </div>
    <div v-else>
       <el-alert
        v-if="loginError"
        title="Login Failed!"
        description="These credentials do not match our records."
        type="error"
        class="mb-2"
        show-icon>
      </el-alert>
        <el-form class="vertical-form" :rules="loginRules" ref="loginForm" label-position="top" label-width="100px" :model="loginForm">
          <el-form-item label="Mobile Number" prop="phone">
            <el-input autocomplete="off" v-model="loginForm.phone"></el-input>
          </el-form-item>
          <el-form-item label="Password" prop="password">
            <el-input type="password" v-model="loginForm.password"></el-input>
          </el-form-item>
          <a href="/password/reset">Forgot Password?</a>
          <el-form-item class="login-btns mt-4">
            <el-button type="primary" :loading="submitting" @click="loginUser()">Login</el-button>
            <el-button @click="toggleForm()">Create Account</el-button>
           </el-form-item>
        </el-form>

    </div>
  </div>
</template>

<script>
    export default {

        data() {
            return {
                loginForm: {
                    phone: '',
                    password: ''
                },
                loginRules: {
                  phone: [
                    { required: true, message: 'Phone number is required', trigger: 'blur' },
                    { min: 10, max: 10, message: 'Phone number can be only 10 digits', trigger: 'blur' }
                  ],
                  password: [
                    { required: true, message: 'Password is required', trigger: 'change' },
                    { min: 6, message: 'Password should be minimum of 6 digits', trigger: 'change' }
                  ],
                },
                registerForm: {
                    first_name: '',
                    last_name: '',
                    phone: '',
                    email: '',
                    password: ''
                },
                 registerRules: {
                  first_name: [
                    { required: true, message: 'First name is required', trigger: 'blur' },
                  ],
                  last_name: [
                    { required: true, message: 'Last name is required', trigger: 'blur' },
                  ],
                  phone: [
                    { required: true, message: 'Phone number is required', trigger: 'change' },
                    { min: 10, max: 10, message: 'Phone number can be only 10 digits', trigger: 'change' }
                  ],
                  password: [
                    { required: true, message: 'Password is required', trigger: 'change' },
                    { min: 6, message: 'Password should be minimum of 6 digits', trigger: 'change' }
                  ],
                },
                submitting: false,
                loginError: false,
                registerError: false,
                newAccount: 0,
                userotp: '',
                verifyotp: '',
                otpSent: false,
                sendingOTP: false,
                otpError: false,
                otpErrorMessage: '',
            }
        },

        created() {

        },

        methods: {
            loginUser()
            {
                var self = this;
                self.submitting = true;
                this.$refs['loginForm'].validate((valid) => {
                  if (valid) {
                    axios.post('/login', this.loginForm)
                         .then(function(response){
                           // self.submitting = false;
                            window.App.user = response.data.user;
                            window.App.signedIn = true;
                            self.$emit('loggedin', true);
                         }).catch(function(error){
                            self.submitting = false;
                            self.loginError = true;
                         });
                  } else {
                    self.submitting = false;
                    console.log('error submit!!');
                    return false;
                  }
                });

            },

            registerUser()
            {
                var self = this;
                self.submitting = true;
                this.$refs['registerForm'].validate((valid) => {
                  if (valid) {
                      axios.post('/api/otp/send', {'phone':  self.registerForm.phone })
                     .then(function(response){
                         self.submitting = false;
                         self.registerError = false;
                         self.otpSent = true;
                         self.verifyotp = response.data.otp;
                     }).catch(function(error){
                        self.submitting = false;
                        self.registerError = true;
                     });

                  } else {
                    self.submitting = false;
                    console.log('error submit!!');
                    return false;
                  }
                });

            },

            storeUser()
            {
                var self = this;
                 self.submitting = true;
                if(self.userotp == self.verifyotp)
                {
                    axios.post('/register', this.registerForm)
                         .then(function(response){
                            self.submitting = false;
                            window.App.user = response.data.user;
                            window.App.signedIn = true;
                            window.location = '/register/success';
                           // self.$emit('loggedin', true);
                         }).catch(function(error){
                            self.submitting = false;
                            self.registerError = true;
                         });
                  } else {
                      self.submitting = false;
                      self.otpError = true;
                      self.otpErrorMessage = 'Incorrect OTP please try again!';
                  }
            },

             sendOTP() {
                var self = this;
                self.sendingOTP = true;
                axios.post('/api/otp/send', {'phone':  self.registerForm.phone })
                     .then(function(response){
                      self.verifyotp = response.data.otp;
                       self.sendingOTP = false;
                        self.otpSent = true;
                     }).catch(function(error){
                        self.sendingOTP = false;
                        self.otpSent = false;
                     });
            },

            toggleForm() {
               if(this.newAccount == 0)
               {
                   this.newAccount = 1;

               } else {
                   this.newAccount = 0;
               }
            }
        }
    }
</script>
