<template>
 <div class="phone-input-box" style="width: 50%;">
      <el-alert
    v-if="phoneUpdated"
    class="mb-2"
    title="Phone number updated successfully!"
    show-icon
    type="success">
  </el-alert>
    <div class="d-flex content" v-if="!inEditing">
     <el-input
         placeholder="Phone Number"
         suffix-icon="el-icon-phone"
         v-model="currentphone"
         readonly>
     </el-input>

     <el-button class="ml-3" @click="inEditing = true;" type="success" >Change Number</el-button>

   </div>
    <el-alert
    v-if="otpSentStatus"
    class="mb-2"
    title="Otp Sent successfully!"
    show-icon
    type="success">
  </el-alert>
  <el-alert
    v-if="otpError"
    class="mb-2"
    :title="otpErrorMessage"
    show-icon
    type="error">
  </el-alert>

    <div class="d-flex" v-if="!inVerification && inEditing">

     <el-input
         placeholder="Enter Phone Number"
         type="number"
         :maxlength="10"
         suffix-icon="el-icon-phone"
         v-model="userphone">
     </el-input>

     <el-button class="ml-3" @click="sendOTP" type="success" :loading="sendingOTP">Send OTP</el-button>
     <el-button class="ml-3" @click="inEditing = false" type="warning" >Cancel</el-button>

   </div>

   <div class="d-flex" v-if="inVerification && otpSent">
      <el-input
         placeholder="Enter OTP"
         type="number"
         :maxlength="5"
         suffix-icon="el-icon-phone"
         v-model="userotp">
      </el-input>

      <el-button class="ml-3" @click="verifyOTP" type="warning" :loading="verifying">Verify OTP</el-button>
       <el-button class="ml-3" @click="sendOTP" type="success" :loading="sendingOTP">Resend OTP</el-button>
   </div>



 </div>
</template>

<script>
    export default {
        props: ['phone'],

        data() {
            return {
                currentphone: '',
                userphone: '',
                inVerification: false,
                inEditing: false,
                verifying: false,
                sendingOTP: false,
                otpSent: false,
                otpSentStatus: false,
                otpError: false,
                otpErrorMessage: '',
                alertType: 'success',
                showAlert: false,
                alertMessage: '',
                phoneUpdated: false,
                otp: '',
                userotp: '',
            }
        },

        created() {
            this.currentphone = this.phone;
        },

        mounted() {
            console.log('Component mounted.')
        },

        methods: {
            sendOTP() {
                var self = this;
                self.sendingOTP = true;
                if(self.userphone.length > 10)
                {
                       self.otpErrorMessage = 'Phone number is incorrect!';
                        self.sendingOTP = false;
                        self.otpSent = false;
                        self.otpSentStatus = false;
                        self.otpError = true;
                    return false;
                }
                axios.post('/api/otp/send', {'phone':  self.userphone })
                     .then(function(response){
                        self.sendingOTP = false;
                        self.otpSent = true;
                        self.otpSentStatus = true;
                        self.inVerification = true;
                        self.phoneUpdated = false;
                        self.otpError = false;
                        self.otp = response.data.otp;
                     }).catch(function(error){
                        self.otpErrorMessage = error.response.data.message;
                        self.sendingOTP = false;
                        self.otpSent = false;
                        self.otpSentStatus = false;
                        self.otpError = true;
                     });
            },

            verifyOTP() {
                var self = this;
                self.verifying = true;
                console.log(self.otp);
                if(self.userotp == self.otp)
                {
                    axios.post('/account/phone/update', {phone: self.userphone})
                         .then(function(response){
                            self.verifying = false;
                            self.userotp = '';
                            self.otp = '';
                            self.inEditing = false;
                            self.otpSent = false;
                            self.otpSentStatus = false;
                            self.otpError = false;
                           self.inVerification = false;
                           self.phoneUpdated = true;
                           self.currentphone = self.userphone;
                           self.userphone = '';
                         });
                } else {
                    self.verifying = false;
                     self.otpSentStatus = false;
                     self.otpError = true;
                     self.otpErrorMessage = 'Incorrect Otp!';
                }
            }
        }
    }
</script>
